<ul class="nav">
    <h1>NFL Scraper</h1>
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/saved">Saved</a>
    </li>
</ul>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Saved Articles</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{#each article}}
            {{#if saved}}
            <h3><a href="http://espn.com{{link}}">{{title}}</a></h3>
            <p>{{summary}}</p>
            <button type="button" class="btn btn-primary add-note" data-id="{{_id}}">Add Note</button>
            <button type="button" class="btn btn-primary delete-article" data-id="{{_id}}">Delete Article</button>
            <div id="notes">
            </div>
            {{/if}}
            {{/each}}

        </div>
    </div>
</div>